section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.menu-list h1 {
    color: #FFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    position: relative;
    margin-bottom: 25px;
}
.main {
    background-color: #f198af;
}
.news {
    background-color: #ebb2d6;
}
.contacts {
    background-color: #9f81cd;
}
.portfolio {
    background-color: #766dc1;
}
.wrapper {
    position: relative;
    overflow-x: hidden;
}
.menu {
    position: fixed;
    left: 100px;top: 0;
    z-index: 97;
    width: 75%;
    height: 100vh;
    display: flex;
    background-color: #000012;
    transition: 0.5s;
    transform: translateX(-100%);
}
.menu_active {
    transform: translateX(-100px);
}
.menu-list {
    color: #fff;
}
.menu-list a {
    height: 150px;
    width: 200px;
    font-family: 'Play', sans-serif;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
}
.menu-btn {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 45px;
    top: 50vh;
    z-index: 99;
}
.menu-pic {
    pointer-events: none;
    z-index: 98;
    height: 100vh;
    width: 100px;
    background-color: #fff;
    position: absolute;
    display: inline-block;
    right: 0;
}
ul.button {
    display: inline-block;
    width: 210px;
    height: 140px;
    text-align: right;
    font-family: sans-serif;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 24px;
    text-transform: capitalize;
    background: transparent;
    border: #fff;
    text-decoration-color: #fff;
}
.button:hover {
    background-position-x: -50px;
    background-position-y: -50px;
}

ul.listy {
    padding: 3rem 1rem 0 1rem;
}
ul.listy li {
    display: inline-block;
    margin-right: 300px;
    padding: 3px;
}
